Repository d4l-data4life/hc-sdk-kmp-integration, changes with the labels that .github/labeler.yml gives for each.
All labels: build, scripts, dependencies, documentation, app-android, app-java

Bump Gradle 7.4.1 -> 7.4.2
  CHANGELOG.adoc
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
Labels: documentation

Change Android target API fro 30 to 31 and apply necessary changes
  CHANGELOG.adoc
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  build.gradle.kts
  buildSrc/src/main/kotlin/AppConfig.kt
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/Versions.kt
Labels: dependencies, documentation, app-android

Change project setup for new Android Gradle plugin
  app/build.gradle.kts
  buildSrc/src/main/kotlin/GradlePlugins.kt
Labels: dependencies, app-android

Remove Chucker dependency from project
  CHANGELOG.adoc
  app/build.gradle.kts
  build.gradle.kts
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/Repository.kt
  buildSrc/src/main/kotlin/Versions.kt
Labels: dependencies, documentation, app-android

Change gradle.properties for Kotlin 1.6.20
  gradle.properties
Labels: none

Bump Kotlin 1.4.32 -> 1.6.20 and Kotlin Coroutines 1.4.3 -> 1.6.1
  CHANGELOG.adoc
  buildSrc/src/main/kotlin/Versions.kt
Labels: dependencies, documentation

Fix findNavController import
  app/src/main/java/care/data4life/integration/app/ui/home/HomeFragment.kt
  app/src/main/java/care/data4life/integration/app/ui/welcome/WelcomeFragment.kt
Labels: app-android

Update README
  README.adoc
Labels: documentation

Remove ci files
  ci/android/prepare_start_and_wait_for_emulator.sh
Labels: none

Change ci to Java 11
  .github/workflows/d4l-ci-login-verification.yml
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

.github/labeler.yml:

build:
  - .github/**/*

scripts:
  - buildSrc/src/main/kotlin/care/data4life/gradle/core/**/*.kts

dependencies:
  - buildSrc/**/*

documentation:
  - docs/**/*
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - DEVELOPING.adoc
  - LICENSE
  - README.adoc

# Integration Apps
app-android:
  - app-android/**/*
  - app/**/*
app-java:
  - app-java/**/*
